<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>
  <section class="text-center py-5">
    <div class="container">
      <h1 class="display-4">Hi, I'm Cristian <i class="fa-regular fa-thumbs-up ms-3"></i></h1>
      <p class="lead">A passionate software developer</p>
    </div>
    <div class="card mx-auto mt-5" style="width: 18rem;">
      <img src="/img/holiday.png" class="car-img-top" alt="Holiday image">
      <div class="card-body">
        <p class="card-text">
          I am a Computer Analyst, graduated from the National University of Río Cuarto.
          As a software developer, I am constantly learning about a variety of technologies
          to solve diverse problems.
        </p>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>