<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>
  <section class="text-center py-5">
    <div class="container">
      <h1 class="display-4">Hi, I'm Cristian <i class="fa-regular fa-thumbs-up"></i></h1>
      <p class="lead">A passionate software developer</p>
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>