<footer class="bg-dark text-center p-4">
  <p class="h4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Perferendis numquam autem dignissimos labore mollitia quam reiciendis fuga tempora, 
    perspiciatis quas fugiat aperiam reprehenderit praesentium quaerat natus recusandae 
    ullam facilis exercitationem!
  </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>